In [1]:
from gol_apis import RosterActivitiesService
from gol_apis import RosterTagService
from gol_apis import CheckScheduleService
from gol_apis import CrewMemberInfoService
import api_tools
from api_tools.setup import setup_crew_info_dataframe
from api_tools.setup import setup_checks_dataframe
from api_tools.setup import setup_tag_dataframe
from api_tools.setup import setup_activities_dataframe

from gol_logger import Logger
import pandas as pd
import multiprocessing as mp
import requests, time
from datetime import datetime as dt
from datetime import timedelta as td
from utils import funcs
from utils.progress import step
from utils.progress import BAR
from itertools import chain

from modules.generate_data import get_data_neolude
from modules.generate_data import get_rosters
from modules.generate_data import get_crew_info
from modules.generate_data import get_checks

import sys
from config.variables import user

In [2]:
training_code = 'EMG'

In [3]:
# Dados Crew Info
crew = pd.read_csv('data/crew/crew_info.csv', sep=';', encoding='utf-8-sig')
crew.cif = crew.cif.astype(int).astype(str).str.zfill(8)
crew = crew[crew['funcao'].isin(['CMT', 'COP'])]
crew = crew[['cif', 'guerra', 'funcao', 'cargo', 'base']]
crew

           cif           guerra funcao cargo base
0     00000020            BORIO    CMT   IBX  CGH
1     00000021          GRABLER    CMT   IBX  GRU
2     00000022           DANTAS    CMT   IBX  CGH
3     00000024            BORBA    CMT   NaN  GRU
4     00000026  FERNANDO FARIAS    CMT   IBX  CGH
...        ...              ...    ...   ...  ...
5480  99999913           PIAZZA    CMT    IB  GRU
5481  99999916    GALENO CABRAL    CMT    IB  GRU
5482  99999917           EDWARD    CMT    IB  GRU
5483  99999918          CESIDIO    CMT    IB  GRU
5484  99999919             ZAGO    CMT    IB  GRU

[2033 rows x 5 columns]

In [4]:
# Header para filtrar dados do Neolude
header_neolude = ['RegistrationNumber',
                  'UserName',
                  'BusinessUnitName',
                  'Post',
                  'CPF',
                  'Email',
                  'CourseUserStatus',
                  'GradeFormatted',
                  'LastAccessDate',
                  'CreatedDate',
                  'CompletionDate']

In [5]:
# Dados Neolude
training = pd.read_csv(f'data/neolude/{training_code}.csv', sep=';', encoding='utf-8-sig')
training = training[header_neolude]
training['RegistrationNumber'] = training['RegistrationNumber'].fillna(0)
training['RegistrationNumber'] = training['RegistrationNumber'].astype(int).astype(str).str.zfill(8)
training['LastAccessDate'] = pd.to_datetime(training['LastAccessDate'])
training['CreatedDate'] = pd.to_datetime(training['CreatedDate'])
training['CompletionDate'] = pd.to_datetime(training['CompletionDate'])
training.columns = ['cif', 'name', 'base', 'funcao', 'cpf', 'email', 'status', 'nota', 'ultimo_acesso', 'criacao_acesso', 'data_conclusao']
training = training[['cif', 'status', 'nota', 'data_conclusao']]
training = training.sort_values(by=['cif','data_conclusao'])
training = training.drop_duplicates(subset = ['cif'], keep = 'last')
training

           cif     status   nota data_conclusao
0     00021729  Concluído  10,00     2019-06-28
1     00040930  Concluído  10,00     2020-03-13
2     00006325  Concluído  10,00     2019-02-22
3     00025086  Concluído   9,00     2019-06-18
4     00017040  Concluído  10,00     2018-07-23
...        ...        ...    ...            ...
4995  00021588  Concluído   9,00     2019-07-19
4996  00001548  Concluído  10,00     2018-09-04
4997  00018376  Concluído  10,00     2018-11-28
4998  00004854  Concluído   9,00     2019-06-14
4999  00003949  Concluído  10,00     2019-08-23

[5000 rows x 4 columns]

In [6]:
# Dados de Rosters
rosters = funcs.generate_data('data/rosters/')
rosters.cif = rosters.cif.astype(str).str.zfill(8)
rosters = rosters[rosters['code'].isin(funcs.training_filter('SEC'))]
rosters = rosters.sort_values(by=['cif','dep'])
rosters = rosters[['cif', 'code', 'fr', 'dep']]
rosters = rosters.drop_duplicates(subset = ['cif'], keep = 'last')
rosters

importing: 2020-01...
importing: 2020-02...
importing: 2020-03...
importing: 2020-04...
importing: 2020-05...
importing: 2020-06...
importing: 2020-07...
importing: 2020-08...
importing: 2020-09...
importing: 2020-10...
importing: 2020-11...

             cif       code   fr                  dep
105179  00000020  C-ENS-SEC  CGH  2020-11-18 11:30:00
97324   00000022  C-ENS-SEC  CGH  2020-09-18 11:30:00
41673   00000024  C-ENS-SEC  CGH  2020-09-08 16:30:00
133970  00000029  C-ENS-SEC  CGH  2020-10-23 11:30:00
96582   00000043  C-ENS-SEC  CGH  2020-01-13 16:30:00
...          ...        ...  ...                  ...
61309   00045989  C-ENS-SEC  CGH  2020-03-09 11:30:00
61292   00045992  C-ENS-SEC  CGH  2020-03-09 11:30:00
61355   00045994  C-ENS-SEC  CGH  2020-03-09 11:30:00
61330   00045997  C-ENS-SEC  CGH  2020-03-09 11:30:00
61321   00046021  C-ENS-SEC  CGH  2020-03-09 11:30:00

[1523 rows x 4 columns]

In [7]:
# Dados de Checks
checks = pd.read_csv('data/checks/check_schedule.csv', sep=';', encoding='utf-8-sig')
checks.cif = checks.cif.astype(str).str.zfill(8)
checks = checks[checks['checkTypeCode'] == training_code]
checks = checks[['cif', 'checkTypeCode', 'expiryDt']]
checks

            cif checkTypeCode    expiryDt
72     00046225           SEC  2022-09-30
82     00034571           SEC  2022-10-31
83     00002976           SEC  2020-11-27
87     00024543           SEC  2021-01-28
90     00024238           SEC  2020-12-29
...         ...           ...         ...
61831  00005686           SEC  2021-11-30
61832  00022337           SEC  2021-11-30
61944  00038070           SEC  2022-01-31
61945  00042289           SEC  2022-01-31
61946  00033726           SEC  2022-01-31

[4742 rows x 3 columns]

In [9]:
# Merge dos dados
resultado = pd.merge(crew, checks[['cif', 'checkTypeCode', 'expiryDt']], on='cif', how='left')
resultado = resultado.merge(training, on='cif', how='left')
resultado = resultado.merge(rosters[['cif', 'code', 'dep']], on='cif', how='left')
resultado

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,status,nota,data_conclusao,code,dep
0,00000020,BORIO,CMT,IBX,CGH,SEC,2020-10-28,Concluído,"10,00",2018-05-07 00:00:00,C-ENS-SEC,2020-11-18 11:30:00
1,00000021,GRABLER,CMT,IBX,GRU,SEC,2021-01-28,Concluído,"10,00",2018-09-26 00:00:00,NaN,NaN
2,00000022,DANTAS,CMT,IBX,CGH,SEC,2022-09-30,Concluído,"10,00",2018-05-21 00:00:00,C-ENS-SEC,2020-09-18 11:30:00
3,00000022,DANTAS,CMT,IBX,CGH,SEC,2022-09-30,Concluído,"10,00",2020-09-18 12:02:21,C-ENS-SEC,2020-09-18 11:30:00
4,00000024,BORBA,CMT,NaN,GRU,SEC,2022-09-30,Concluído,"10,00",2018-05-07 00:00:00,C-ENS-SEC,2020-09-08 16:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...
2400,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2401,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2402,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2403,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2404,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [10]:
# Formatação do dataFrame de Dados
validation = resultado.copy()
validation['dep'] = validation['dep'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['data_conclusao'] = validation['data_conclusao'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['dep'] = validation['dep'].dt.floor('D')
validation['data_conclusao'] = pd.to_datetime(validation['data_conclusao'], format='%Y-%m-%d')
validation['data_conclusao'] = validation['data_conclusao'].dt.floor('D')
validation

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,status,nota,data_conclusao,code,dep
0,00000020,BORIO,CMT,IBX,CGH,SEC,2020-10-28,Concluído,"10,00",2018-05-07,C-ENS-SEC,2020-11-18
1,00000021,GRABLER,CMT,IBX,GRU,SEC,2021-01-28,Concluído,"10,00",2018-09-26,NaN,2035-12-31
2,00000022,DANTAS,CMT,IBX,CGH,SEC,2022-09-30,Concluído,"10,00",2018-05-21,C-ENS-SEC,2020-09-18
3,00000022,DANTAS,CMT,IBX,CGH,SEC,2022-09-30,Concluído,"10,00",2020-09-18,C-ENS-SEC,2020-09-18
4,00000024,BORBA,CMT,NaN,GRU,SEC,2022-09-30,Concluído,"10,00",2018-05-07,C-ENS-SEC,2020-09-08
...,...,...,...,...,...,...,...,...,...,...,...,...
2400,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2401,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2402,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2403,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2404,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31

In [11]:
# Variavel considerada para filtrar tripulantes com vencimentos nos proximos dois meses
venc_next_month = pd.to_datetime(dt.now()) + pd.offsets.MonthBegin(2)

In [12]:
# Tripulantes com vencimentos nos proximos dois meses, com treinamentos plotados em escala e 
# que já concluiram o curso
atualizar = validation[(validation['dep'] < pd.to_datetime(dt.now())) &
                           (pd.to_datetime(validation['expiryDt']) < venc_next_month) &
                           (validation['status'] == 'Concluído')
                          ]
atualizar

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,status,nota,data_conclusao,code,dep
38,00000330,POSI,CMT,IBX,CGH,SEC,2020-11-27,Concluído,"10,00",2018-06-27,C-ENS-SEC,2020-11-16
40,00000332,PORTELLA,CMT,NaN,GRU,SEC,2020-10-31,Concluído,"10,00",2018-10-24,C-ENS-SEC,2020-11-05
67,00000450,LORES,CMT,IRX,BSB,SEC,2020-11-27,Concluído,"10,00",2018-06-25,C-ENS-SEC,2020-11-10
72,00000461,LUIZ SERGIO,CMT,IBX,CGH,SEC,2020-10-31,Concluído,"10,00",2018-10-24,C-ENS-SEC,2020-11-05
76,00000503,GRANJA,CMT,NaN,CGH,SEC,2020-11-30,Concluído,"10,00",2018-11-05,C-ENS-SEC,2020-11-12
...,...,...,...,...,...,...,...,...,...,...,...,...
1878,00035307,BEGHINI,COP,NaN,GIG,SEC,2020-11-30,Concluído,"10,00",2018-11-13,C-ENS-SEC,2020-11-16
1889,00035318,PEDRO GUIMARAES,COP,NaN,GIG,SEC,2020-11-30,Concluído,"10,00",2018-11-13,C-ENS-SEC,2020-11-16
1909,00035469,GUILHERME SCHAFER,COP,NaN,SDU,SEC,2020-11-30,Concluído,"10,00",2018-11-13,C-ENS-SEC,2020-11-12
1911,00035471,HUGO ALBUQUERQUE,COP,NaN,GIG,SEC,2020-11-30,Concluído,"10,00",2018-11-13,C-ENS-SEC,2020-11-16
1927,00036100,LUCAS PORTO,COP,NaN,BSB,SEC,2020-11-30,Concluído,"10,00",2018-11-13,C-ENS-SEC,2020-11-16

In [13]:
verificar =  validation[(validation['dep'] < pd.to_datetime(dt.now())) &
                            (pd.to_datetime(validation['expiryDt']) < venc_next_month) &
                            (validation['status'] != 'Concluído')
                           ]
verificar

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,status,nota,data_conclusao,code,dep
163,00001168,BURG,CMT,NaN,POA,SEC,2020-11-27,Ausente,"0,00",2018-06-27,C-ENS-SEC,2020-11-12
402,00002921,WALTER SOUZA,CMT,NaN,GIG,SEC,2020-11-27,Ausente,"0,00",2018-05-16,C-ENS-SEC,2020-11-10
464,00003181,ZULIN,CMT,IR,CGH,SEC,2020-11-30,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-16
491,00003453,SCARIN FILHO,CMT,NaN,CGH,SEC,2020-11-27,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-16
510,00003682,CERIOTTI,CMT,NaN,CGH,SEC,2020-11-30,Ausente,"0,00",2018-11-21,C-ENS-SEC,2020-11-10
1022,00010607,CARLOS ANDRADE,CMT,NaN,GIG,SEC,2020-11-27,Ausente,"0,00",2020-03-11,C-ENS-SEC,2020-11-16
1080,00011160,JOSE GUILHERME,CMT,NaN,GIG,SEC,2020-11-27,Ausente,"0,00",2018-05-16,C-ENS-SEC,2020-11-16
1082,00011160,JOSE GUILHERME,CMT,NaN,GIG,SEC,2020-11-27,Ausente,"0,00",2020-03-11,C-ENS-SEC,2020-11-16
1193,00013017,PATRICK DESTRI,COP,NaN,CGH,SEC,2020-11-30,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-16
1426,00023901,TISSOT,COP,NaN,CGH,SEC,2020-11-27,Ausente,"0,00",2018-04-11,C-ENS-SEC,2020-11-12
1460,00023930,EVANGELISTA,COP,NaN,BSB,SEC,2020-11-27,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-12
1770,00031914,MARCIO MARCONCIN,COP,NaN,GRU,SEC,2020-11-27,Ausente,"0,00",2018-05-21,C-ENS-SEC,2020-11-10
1793,00032352,PAULO BASTOS,CMT,NaN,POA,SEC,2020-11-27,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-12
1963,00040818,PETERS,COP,NaN,GRU,SEC,2020-10-31,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-05
1987,00041776,FILIPE VASCONCELLOS,COP,NaN,GIG,SEC,2020-11-30,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-16
2005,00041952,KERBER,COP,NaN,GRU,SEC,2020-11-30,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-16
2006,00041953,PEDRO FRAZAO,COP,NaN,CGH,SEC,2020-10-31,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-05
2011,00041959,LUCAS VASCONCELOS,COP,NaN,GIG,SEC,2020-10-31,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-05
2017,00042057,LUCAS LOPES,COP,NaN,GRU,SEC,2020-11-30,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-16
2019,00042072,ERICK PELLIZZON,COP,NaN,GRU,SEC,2020-10-31,NaN,NaN,2035-12-31,C-ENS-SEC,2020-11-05

In [14]:
atualizar.to_csv(f'./data/output/{training_code}_atualizar.csv', index=False, sep=';', encoding='utf-8-sig')
verificar.to_csv(f'./data/output/{training_code}_verificar.csv', index=False, sep=';', encoding='utf-8-sig')