In [1]:
from gol_apis import RosterActivitiesService
from gol_apis import RosterTagService
from gol_apis import CheckScheduleService
from gol_apis import CrewMemberInfoService
import api_tools
from api_tools.setup import setup_crew_info_dataframe
from api_tools.setup import setup_checks_dataframe
from api_tools.setup import setup_tag_dataframe
from api_tools.setup import setup_activities_dataframe

from gol_logger import Logger
import pandas as pd
import multiprocessing as mp
import requests, time
from datetime import datetime as dt
from datetime import timedelta as td
from utils import funcs
from utils.progress import step
from utils.progress import BAR
from itertools import chain

from modules.generate_data import get_data_neolude
from modules.generate_data import get_rosters
from modules.generate_data import get_crew_info
from modules.generate_data import get_checks

import sys
from config.variables import user

In [2]:
training_code = 'LOFT'

In [3]:
# Dados Crew Info
crew = pd.read_csv('data/crew/crew_info.csv', sep=';', encoding='utf-8-sig')
crew.cif = crew.cif.astype(int).astype(str).str.zfill(8)
crew = crew[crew['funcao'].isin(['CMT', 'COP'])]
crew = crew[['cif', 'guerra', 'funcao', 'cargo', 'base']]
crew

           cif           guerra funcao cargo base
0     00000020            BORIO    CMT   IBX  CGH
1     00000021          GRABLER    CMT   IBX  GRU
2     00000022           DANTAS    CMT   IBX  CGH
3     00000024            BORBA    CMT   NaN  GRU
4     00000026  FERNANDO FARIAS    CMT   IBX  CGH
...        ...              ...    ...   ...  ...
5479  99999913           PIAZZA    CMT    IB  GRU
5480  99999916    GALENO CABRAL    CMT    IB  GRU
5481  99999917           EDWARD    CMT    IB  GRU
5482  99999918          CESIDIO    CMT    IB  GRU
5483  99999919             ZAGO    CMT    IB  GRU

[2034 rows x 5 columns]

In [4]:
# Header para filtrar dados do Neolude
header_neolude = ['RegistrationNumber',
                  'UserName',
                  'BusinessUnitName',
                  'Post',
                  'CPF',
                  'Email',
                  'CourseUserStatus',
                  'GradeFormatted',
                  'LastAccessDate',
                  'CreatedDate',
                  'CompletionDate']

In [5]:
# Dados de Rosters
rosters = funcs.generate_data('data/rosters/')
rosters.cif = rosters.cif.astype(str).str.zfill(8)

importing: 2020-01...
importing: 2020-02...
importing: 2020-03...
importing: 2020-04...
importing: 2020-05...
importing: 2020-06...
importing: 2020-07...
importing: 2020-08...
importing: 2020-09...
importing: 2020-10...
importing: 2020-11...
importing: 2020-12...
importing: 2021-01...

In [6]:
inss = rosters.copy()
inss['dep'] = pd.to_datetime(inss['dep'], format='%Y-%m-%d')
inss['dep'] = inss['dep'].dt.floor('D')
inss = inss[(inss['code'] == 'INSS') & (inss['dep'] == pd.to_datetime(dt.date(dt.now())))]
inss = inss[['cif', 'code']]
inss.columns = ['cif', 'inss']
inss

            cif  inss
65631  00001962  INSS
65632  00002329  INSS
65634  00002976  INSS
65643  00010705  INSS
65648  00004196  INSS
...         ...   ...
66957  00005916  INSS
66959  00006334  INSS
66976  00041650  INSS
66978  00042249  INSS
66988  00035164  INSS

[199 rows x 2 columns]

In [7]:
lnr = rosters.copy()
lnr['dep'] = pd.to_datetime(lnr['dep'], format='%Y-%m-%d')
lnr['dep'] = lnr['dep'].dt.floor('D')
lnr = lnr[(lnr['code'] == 'LIC-SREM') & (lnr['dep'] == pd.to_datetime(dt.date(dt.now())))]
lnr = lnr[['cif', 'code']]
lnr.columns = ['cif', 'lnr']
lnr

            cif       lnr
65635  00023872  LIC-SREM
65636  00023903  LIC-SREM
65638  00024141  LIC-SREM
65649  00004453  LIC-SREM
65651  00004615  LIC-SREM
...         ...       ...
66972  00046284  LIC-SREM
66973  00046328  LIC-SREM
66974  00046330  LIC-SREM
66975  00046333  LIC-SREM
66977  00042088  LIC-SREM

[379 rows x 2 columns]

In [8]:
rosters = rosters[rosters['code'].isin(funcs.training_filter(training_code))]
rosters = rosters.sort_values(by=['cif','dep'])
rosters = rosters[['cif', 'code', 'fr', 'dep']]
rosters = rosters.drop_duplicates(subset = ['cif'], keep = 'last')
rosters

             cif    code   fr                  dep
82459   00000020  T-LOFT  CGH  2020-10-15 02:05:00
145597  00000021  T-LOFT  GRU  2020-09-26 21:55:00
157995  00000022  T-LOFT  GRU  2020-06-30 17:20:00
59442   00000024  T-LOFT  GRU  2020-05-12 17:20:00
84881   00000026  T-LOFT  GRU  2020-12-14 13:10:00
...          ...     ...  ...                  ...
116464  00044441  T-LOFT  GRU  2020-09-21 21:30:00
37830   00044443  T-LOFT  GRU  2020-07-08 09:00:00
174373  00044455  T-LOFT  GRU  2020-11-29 17:20:00
53276   00044584  T-LOFT  GRU  2020-11-10 01:40:00
159960  00044794  T-LOFT  GRU  2020-08-30 17:20:00

[1439 rows x 4 columns]

In [9]:
# Dados de Checks
checks = pd.read_csv('data/checks/check_schedule.csv', sep=';', encoding='utf-8-sig')
checks.cif = checks.cif.astype(str).str.zfill(8)
checks = checks[checks['checkTypeCode'] == training_code]
checks = checks[['cif', 'checkTypeCode', 'expiryDt']]
checks

            cif checkTypeCode    expiryDt
15     00023611          LOFT  2021-07-31
17     00003111          LOFT  2021-07-31
18     00009817          LOFT  2021-06-30
19     00036110          LOFT  2021-06-30
22     00003099          LOFT  2021-08-31
...         ...           ...         ...
55066  00043116          LOFT  2021-10-31
55067  00043100          LOFT  2021-08-31
55068  00043125          LOFT  2021-08-31
55275  00000464          LOFT  2010-10-31
55276  00001586          LOFT  2010-10-31

[1734 rows x 3 columns]

In [10]:
# Merge dos dados
data_all = pd.merge(crew, checks[['cif', 'checkTypeCode', 'expiryDt']], on='cif', how='left')
data_all = data_all.merge(rosters[['cif', 'code', 'dep']], on='cif', how='left')
data_all = data_all.merge(inss, on='cif', how='left')
data_all = data_all.merge(lnr, on='cif', how='left')
data_all

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,code,dep,inss,lnr
0,00000020,BORIO,CMT,IBX,CGH,LOFT,2021-10-31,T-LOFT,2020-10-15 02:05:00,NaN,NaN
1,00000021,GRABLER,CMT,IBX,GRU,LOFT,2021-09-30,T-LOFT,2020-09-26 21:55:00,NaN,NaN
2,00000022,DANTAS,CMT,IBX,CGH,LOFT,2021-06-30,T-LOFT,2020-06-30 17:20:00,NaN,NaN
3,00000024,BORBA,CMT,NaN,GRU,LOFT,2021-05-31,T-LOFT,2020-05-12 17:20:00,NaN,NaN
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,LOFT,2021-04-30,T-LOFT,2020-12-14 13:10:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaN
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaN
2031,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaN
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaN
2033,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# FormataÃ§Ã£o do dataFrame de Dados
validation = data_all.copy()
validation['dep'] = validation['dep'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['expiryDt'] = validation['expiryDt'].fillna(pd.to_datetime(dt(2035,12,31)))

validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['expiryDt'] = pd.to_datetime(validation['expiryDt'], format='%Y-%m-%d')

validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['dep'] = validation['dep'].dt.floor('D')

validation = validation[validation['expiryDt'] < (pd.to_datetime(dt.date(dt.now())) + pd.offsets.MonthBegin(0))]
validation = validation[validation['dep'] < (pd.to_datetime(dt.date(dt.now())))]

validation['tempo_de_conclusao (dias)'] = pd.to_datetime(dt.date(dt.now())) - validation['dep']
validation['tempo_de_conclusao (dias)'] = validation['tempo_de_conclusao (dias)'].dt.days

validation['atualizar'] = (validation['dep'] < validation['expiryDt']) & \
                          (validation['tempo_de_conclusao (dias)'] < 90)

validation['new_vencimento'] = (pd.to_datetime(validation['dep']) + pd.offsets.MonthEnd(0)) + pd.offsets.MonthEnd(12)
validation['new_vencimento'] = validation['new_vencimento'].dt.floor('D')

validation

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,code,dep,inss,lnr,tempo_de_conclusao (dias),atualizar,new_vencimento
13,00000041,MONTANDON,CMT,IR,BSB,LOFT,2021-01-31,T-LOFT,2020-01-16,NaN,LIC-SREM,361,False,2021-01-31
45,00000405,CLAUDIO FERREIRA,CMT,IRX,GIG,LOFT,2021-01-28,T-LOFT,2021-01-08,NaN,NaN,3,True,2022-01-31
437,00003937,MAURO BARGE,CMT,NaN,GIG,LOFT,2021-01-31,T-LOFT,2020-12-31,NaN,NaN,11,True,2021-12-31
503,00005157,PEDRO AYRES,CMT,IR,GRU,LOFT,2021-01-31,T-LOFT,2020-01-05,NaN,NaN,372,False,2021-01-31
508,00005174,RUI BRANCO,COP,NaN,CGH,LOFT,2021-01-31,T-LOFT,2020-01-16,NaN,NaN,361,False,2021-01-31
510,00005198,CESAR OLIVEIRA,CMT,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-03,NaN,NaN,8,True,2022-01-31
519,00005247,GIACOMUZZI,CMT,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
536,00005400,MAURICIO JACOMASSI,CMT,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-09,NaN,NaN,2,True,2022-01-31
583,00005914,AVELINO,CMT,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-07,NaN,NaN,4,True,2022-01-31
597,00006023,RAMON MOURA,CMT,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-03,NaN,NaN,8,True,2022-01-31
641,00007852,ALAN LEMOS,CMT,IR,CGH,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
681,00008325,LUIZ ROGATTO,CMT,NaN,GRU,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
693,00008460,MARCUCCIO,CMT,IR,CGH,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
876,00011132,FRANCISCO BORGES,CMT,NaN,SDU,LOFT,2020-12-29,T-LOFT,2021-01-03,NaN,NaN,8,False,2022-01-31
978,00014718,MAURICIO DOURADO,COP,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
1017,00019568,RICARDO REIS,CMT,NaN,GIG,LOFT,2021-01-28,T-LOFT,2021-01-07,NaN,NaN,4,True,2022-01-31
1089,00023155,PRINCE,COP,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
1154,00023903,BRUNO GAMERO,COP,NaN,GRU,LOFT,2021-01-31,T-LOFT,2020-01-12,NaN,LIC-SREM,365,False,2021-01-31
1182,00024059,MORADO,COP,NaN,CGH,LOFT,2021-01-31,T-LOFT,2020-01-13,NaN,NaN,364,False,2021-01-31
1203,00024190,SIRIO,COP,NaN,GRU,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
1234,00024331,CHRISTIANO SALES,COP,NaN,GRU,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
1303,00024648,JUNIOR ANDRADE,COP,NaN,FOR,LOFT,2021-01-31,T-LOFT,2021-01-03,NaN,NaN,8,True,2022-01-31
1316,00024877,ARITANA,COP,NaN,CGH,LOFT,2021-01-31,T-LOFT,2020-01-17,NaN,LIC-SREM,360,False,2021-01-31
1326,00024890,MARCELINO,COP,NaN,GRU,LOFT,2021-01-31,T-LOFT,2020-01-14,NaN,LIC-SREM,363,False,2021-01-31
1345,00025068,OGRADY,COP,NaN,FOR,LOFT,2021-01-31,T-LOFT,2020-01-19,NaN,NaN,358,False,2021-01-31
1360,00025135,ALENCASTRO,COP,NaN,GRU,LOFT,2021-01-31,T-LOFT,2020-01-19,NaN,LIC-SREM,358,False,2021-01-31
1383,00031613,SAUNDERS,CMT,NaN,GRU,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
1483,00035129,ANZAI,COP,NaN,CGH,LOFT,2021-01-31,T-LOFT,2021-01-02,NaN,NaN,9,True,2022-01-31
1537,00035468,GUILHERME OLIVEIRA,COP,NaN,SDU,LOFT,2021-01-31,T-LOFT,2021-01-03,NaN,NaN,8,True,2022-01-31
1597,00041634,MARCOS MADEIRA,COP,NaN,GIG,LOFT,2021-01-28,T-LOFT,2021-01-09,NaN,NaN,2,True,2022-01-31
1608,00041647,CLAUDIO PINHEIRO,CMT,NaN,GIG,LOFT,2021-01-28,T-LOFT,2021-01-07,NaN,NaN,4,True,2022-01-31
1768,00044023,LUCAS RAMOS,COP,NaN,GIG,LOFT,2021-01-28,T-LOFT,2021-01-08,NaN,NaN,3,True,2022-01-31
1771,00044034,PEDRO SARDINHA,COP,NaN,GRU,LOFT,2021-01-28,T-LOFT,2020-12-31,NaN,NaN,11,True,2021-12-31
1786,00044082,MARCELO GATTO,COP,NaN,GRU,LOFT,2021-01-28,T-LOFT,2021-01-10,NaN,NaN,1,True,2022-01-31
1787,00044089,GUILHERME BIESUZ,COP,NaN,GRU,LOFT,2021-01-28,T-LOFT,2021-01-03,NaN,NaN,8,True,2022-01-31

In [12]:
validation.to_csv(f'./data/output/{training_code}.csv', index=False, sep=';', encoding='utf-8-sig')