In [1]:
from gol_apis import RosterActivitiesService
from gol_apis import RosterTagService
from gol_apis import CheckScheduleService
from gol_apis import CrewMemberInfoService
import api_tools
from api_tools.setup import setup_crew_info_dataframe
from api_tools.setup import setup_checks_dataframe
from api_tools.setup import setup_tag_dataframe
from api_tools.setup import setup_activities_dataframe

from gol_logger import Logger
import pandas as pd
import multiprocessing as mp
import requests, time
from datetime import datetime as dt
from datetime import timedelta as td
from utils import funcs
from utils.progress import step
from utils.progress import BAR
from itertools import chain

from modules.generate_data import get_data_neolude
from modules.generate_data import get_rosters
from modules.generate_data import get_crew_info
from modules.generate_data import get_checks

import sys
from config.variables import user

In [2]:
training_code = 'TEM'

In [3]:
# Dados Crew Info
crew = pd.read_csv('data/crew/crew_info.csv', sep=';', encoding='utf-8-sig')
crew.cif = crew.cif.astype(int).astype(str).str.zfill(8)
crew = crew[crew['funcao'].isin(['CMT', 'COP'])]
crew = crew[['cif', 'guerra', 'funcao', 'cargo', 'base']]
crew

           cif           guerra funcao cargo base
0     00000020            BORIO    CMT   IBX  CGH
1     00000021          GRABLER    CMT   IBX  GRU
2     00000022           DANTAS    CMT   IBX  CGH
3     00000024            BORBA    CMT   NaN  GRU
4     00000026  FERNANDO FARIAS    CMT   IBX  CGH
...        ...              ...    ...   ...  ...
5481  99999913           PIAZZA    CMT    IB  GRU
5482  99999916    GALENO CABRAL    CMT    IB  GRU
5483  99999917           EDWARD    CMT    IB  GRU
5484  99999918          CESIDIO    CMT    IB  GRU
5485  99999919             ZAGO    CMT    IB  GRU

[2034 rows x 5 columns]

In [4]:
# Header para filtrar dados do Neolude
header_neolude = ['RegistrationNumber',
                  'UserName',
                  'BusinessUnitName',
                  'Post',
                  'CPF',
                  'Email',
                  'CourseUserStatus',
                  'GradeFormatted',
                  'LastAccessDate',
                  'CreatedDate',
                  'CompletionDate']

In [5]:
# Dados Neolude
training = pd.read_csv(f'data/neolude/{training_code}.csv', sep=';', encoding='utf-8-sig')
training = training[header_neolude]
training['RegistrationNumber'] = training['RegistrationNumber'].fillna(0)
training['RegistrationNumber'] = training['RegistrationNumber'].astype(int).astype(str).str.zfill(8)
training['LastAccessDate'] = pd.to_datetime(training['LastAccessDate'])
training['CreatedDate'] = pd.to_datetime(training['CreatedDate'])
training['CompletionDate'] = pd.to_datetime(training['CompletionDate'])
training.columns = ['cif', 'name', 'base', 'funcao', 'cpf', 'email', 'status', 'nota', 'ultimo_acesso', 'criacao_acesso', 'data_conclusao']
training = training[['cif', 'status', 'nota', 'data_conclusao']]
training = training.sort_values(by=['cif','data_conclusao'])
training = training.drop_duplicates(subset = ['cif'], keep = 'last')
training

           cif     status  nota      data_conclusao
3414  00000000  Concluído  0,00 2019-02-07 00:00:00
4209  00000019  Concluído  0,00 2018-08-14 00:00:00
4066  00000020  Concluído  0,00 2020-11-04 12:13:49
3992  00000021  Concluído  0,00 2013-09-04 00:00:00
3700  00000022  Concluído  0,00 2019-05-07 00:00:00
...        ...        ...   ...                 ...
835   00046009  Concluído  0,00 2020-03-09 00:00:00
1944  00046010  Concluído  0,00 2020-03-09 00:00:00
3217  00046019  Concluído  0,00 2020-03-09 00:00:00
4163  00046020  Concluído  0,00 2020-03-09 00:00:00
1640  00046024  Concluído  0,00 2020-03-09 00:00:00

[1884 rows x 4 columns]

In [6]:
# Dados de Rosters
rosters = funcs.generate_data('data/rosters/')
rosters.cif = rosters.cif.astype(str).str.zfill(8)
rosters = rosters[rosters['code'].isin(funcs.training_filter(training_code))]
rosters = rosters.sort_values(by=['cif','dep'])
rosters = rosters[['cif', 'code', 'fr', 'dep']]
rosters = rosters.drop_duplicates(subset = ['cif'], keep = 'last')
rosters

importing: 2020-01...
importing: 2020-02...
importing: 2020-03...
importing: 2020-04...
importing: 2020-05...
importing: 2020-06...
importing: 2020-07...
importing: 2020-08...
importing: 2020-09...
importing: 2020-10...
importing: 2020-11...

             cif   code   fr                  dep
19448   00000020  C-TEM  CGH  2020-11-04 11:30:00
25608   00000027  C-TEM  CGH  2020-11-05 11:30:00
93163   00000030  C-TEM  BSB  2020-02-13 11:30:00
72683   00000039  C-TEM  BSB  2020-10-13 11:30:00
151809  00000044  C-TEM  CGH  2020-10-26 11:30:00
...          ...    ...  ...                  ...
93240   00024880  C-TEM  BSB  2020-02-13 11:30:00
19382   00024885  C-TEM  CGH  2020-11-04 11:30:00
137569  00024887  C-TEM  FOR  2020-09-25 11:30:00
111510  00025075  C-TEM  CGH  2020-11-19 11:30:00
125876  00032148  C-TEM  CGH  2020-08-24 11:15:00

[231 rows x 4 columns]

In [7]:
# Dados de Checks
checks = pd.read_csv('data/checks/check_schedule.csv', sep=';', encoding='utf-8-sig')
checks.cif = checks.cif.astype(str).str.zfill(8)
checks = checks[checks['checkTypeCode'] == training_code]
checks = checks[['cif', 'checkTypeCode', 'expiryDt']]
checks

            cif checkTypeCode    expiryDt
1099   00000455           TEM  2021-06-30
3115   00031916           TEM  2022-06-30
4286   00003158           TEM  2021-02-28
4289   00011457           TEM  2021-04-30
4291   00011017           TEM  2021-03-30
...         ...           ...         ...
60839  00044678           TEM  2022-09-30
60840  00044681           TEM  2022-09-30
60841  00044707           TEM  2022-09-30
60842  00044791           TEM  2022-09-30
60843  00044794           TEM  2022-09-30

[1722 rows x 3 columns]

In [8]:
# Merge dos dados
resultado = pd.merge(crew, checks[['cif', 'checkTypeCode', 'expiryDt']], on='cif', how='left')
resultado = resultado.merge(training, on='cif', how='left')
resultado = resultado.merge(rosters[['cif', 'code', 'dep']], on='cif', how='left')
resultado

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,status,nota,data_conclusao,code,dep
0,00000020,BORIO,CMT,IBX,CGH,TEM,2023-11-30,Concluído,"0,00",2020-11-04 12:13:49,C-TEM,2020-11-04 11:30:00
1,00000021,GRABLER,CMT,IBX,GRU,TEM,2022-07-31,Concluído,"0,00",2013-09-04 00:00:00,NaN,NaN
2,00000022,DANTAS,CMT,IBX,CGH,TEM,2022-05-31,Concluído,"0,00",2019-05-07 00:00:00,NaN,NaN
3,00000024,BORBA,CMT,NaN,GRU,TEM,2021-01-28,Concluído,"0,00",2017-09-01 00:00:00,NaN,NaN
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,TEM,2021-04-30,Concluído,"0,00",2018-04-23 00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2031,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2033,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [9]:
# Formatação do dataFrame de Dados
validation = resultado.copy()
validation['dep'] = validation['dep'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['data_conclusao'] = validation['data_conclusao'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['dep'] = validation['dep'].dt.floor('D')
validation['data_conclusao'] = pd.to_datetime(validation['data_conclusao'], format='%Y-%m-%d')
validation['data_conclusao'] = validation['data_conclusao'].dt.floor('D')
validation

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,status,nota,data_conclusao,code,dep
0,00000020,BORIO,CMT,IBX,CGH,TEM,2023-11-30,Concluído,"0,00",2020-11-04,C-TEM,2020-11-04
1,00000021,GRABLER,CMT,IBX,GRU,TEM,2022-07-31,Concluído,"0,00",2013-09-04,NaN,2035-12-31
2,00000022,DANTAS,CMT,IBX,CGH,TEM,2022-05-31,Concluído,"0,00",2019-05-07,NaN,2035-12-31
3,00000024,BORBA,CMT,NaN,GRU,TEM,2021-01-28,Concluído,"0,00",2017-09-01,NaN,2035-12-31
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,TEM,2021-04-30,Concluído,"0,00",2018-04-23,NaN,2035-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2031,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31
2033,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN,2035-12-31,NaN,2035-12-31

In [10]:
# Variavel considerada para filtrar tripulantes com vencimentos nos proximos dois meses
venc_next_month = pd.to_datetime(dt.now()) + pd.offsets.MonthBegin(2)

In [11]:
# Tripulantes com vencimentos nos proximos dois meses, com treinamentos plotados em escala e 
# que já concluiram o curso
atualizar = validation[(validation['dep'] < pd.to_datetime(dt.now())) &
                           (pd.to_datetime(validation['expiryDt']) < venc_next_month) &
                           (validation['status'] == 'Concluído')
                          ]
atualizar

Empty DataFrame
Columns: [cif, guerra, funcao, cargo, base, checkTypeCode, expiryDt, status, nota, data_conclusao, code, dep]
Index: []

In [12]:
verificar =  validation[(validation['dep'] < pd.to_datetime(dt.now())) &
                            (pd.to_datetime(validation['expiryDt']) < venc_next_month) &
                            (validation['status'] != 'Concluído')
                           ]
verificar

Empty DataFrame
Columns: [cif, guerra, funcao, cargo, base, checkTypeCode, expiryDt, status, nota, data_conclusao, code, dep]
Index: []

In [13]:
atualizar.to_csv(f'./data/output/{training_code}_atualizar.csv', index=False, sep=';', encoding='utf-8-sig')
verificar.to_csv(f'./data/output/{training_code}_verificar.csv', index=False, sep=';', encoding='utf-8-sig')