In [1]:
from gol_apis import RosterActivitiesService
from gol_apis import RosterTagService
from gol_apis import CheckScheduleService
from gol_apis import CrewMemberInfoService
import api_tools
from api_tools.setup import setup_crew_info_dataframe
from api_tools.setup import setup_checks_dataframe
from api_tools.setup import setup_tag_dataframe
from api_tools.setup import setup_activities_dataframe

from gol_logger import Logger
import pandas as pd
import multiprocessing as mp
import requests, time
from datetime import datetime as dt
from datetime import timedelta as td
from utils import funcs
from utils.progress import step
from utils.progress import BAR
from itertools import chain

from modules.generate_data import get_data_neolude
from modules.generate_data import get_rosters
from modules.generate_data import get_crew_info
from modules.generate_data import get_checks

import sys
from config.variables import user

In [2]:
training_code = 'TEM'

In [3]:
# Dados Crew Info
crew = pd.read_csv('data/crew/crew_info.csv', sep=';', encoding='utf-8-sig')
crew.cif = crew.cif.astype(int).astype(str).str.zfill(8)
crew = crew[crew['funcao'].isin(['CMT', 'COP'])]
crew = crew[['cif', 'guerra', 'funcao', 'cargo', 'base']]
crew

           cif           guerra funcao cargo base
0     00000020            BORIO    CMT   IBX  CGH
1     00000021          GRABLER    CMT   IBX  GRU
2     00000022           DANTAS    CMT   IBX  CGH
3     00000024            BORBA    CMT   NaN  GRU
4     00000026  FERNANDO FARIAS    CMT   IBX  CGH
...        ...              ...    ...   ...  ...
5479  99999913           PIAZZA    CMT    IB  GRU
5480  99999916    GALENO CABRAL    CMT    IB  GRU
5481  99999917           EDWARD    CMT    IB  GRU
5482  99999918          CESIDIO    CMT    IB  GRU
5483  99999919             ZAGO    CMT    IB  GRU

[2034 rows x 5 columns]

In [4]:
# Header para filtrar dados do Neolude
header_neolude = ['RegistrationNumber',
                  'UserName',
                  'BusinessUnitName',
                  'Post',
                  'CPF',
                  'Email',
                  'CourseName',
                  'CourseUserStatus',
                  'GradeFormatted',
                  'LastAccessDate',
                  'CreatedDate',
                  'CompletionDate']

In [5]:
# Dados Neolude
training = pd.read_csv(f'data/neolude/{training_code}.csv', sep=';', encoding='utf-8-sig')
training = training[header_neolude]
training['tipo'] = pd.to_numeric(training['RegistrationNumber'], errors='coerce').notnull()
training = training[training['tipo']]
training['RegistrationNumber'] = training['RegistrationNumber'].fillna(0)
training['RegistrationNumber'] = training['RegistrationNumber'].astype(int).astype(str).str.zfill(8)
training['LastAccessDate'] = pd.to_datetime(training['LastAccessDate'])
training['CreatedDate'] = pd.to_datetime(training['CreatedDate'])
training['CompletionDate'] = pd.to_datetime(training['CompletionDate'])
training.columns = ['cif', 'name', 'base', 'funcao', 'cpf', 'email', 'course_name','status', 'nota', 'ultimo_acesso', 'criacao_acesso', 'data_conclusao', 'tipo']
training = training[['cif', 'course_name','status', 'nota', 'data_conclusao']]
training = training.sort_values(by=['cif','data_conclusao'])
training = training.drop_duplicates(subset = ['cif'], keep = 'last')
training

,cif,course_name,status,nota,data_conclusao
4252,00000019,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2018-08-14 00:00:00
4109,00000020,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-11-04 12:13:49
4035,00000021,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2013-09-04 00:00:00
3737,00000022,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2019-05-07 00:00:00
3538,00000024,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2017-09-01 00:00:00
...,...,...,...,...,...
847,00046009,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-03-09 00:00:00
1968,00046010,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-03-09 00:00:00
3248,00046019,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-03-09 00:00:00
4206,00046020,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-03-09 00:00:00
1662,00046024,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-03-09 00:00:00

In [6]:
# Dados de Rosters
rosters = funcs.generate_data('data/rosters/')
rosters.cif = rosters.cif.astype(str).str.zfill(8)

importing: 2020-01...
importing: 2020-02...
importing: 2020-03...
importing: 2020-04...
importing: 2020-05...
importing: 2020-06...
importing: 2020-07...
importing: 2020-08...
importing: 2020-09...
importing: 2020-10...
importing: 2020-11...
importing: 2020-12...
importing: 2021-01...

In [7]:
inss = rosters.copy()
inss['dep'] = pd.to_datetime(inss['dep'], format='%Y-%m-%d')
inss['dep'] = inss['dep'].dt.floor('D')
inss = inss[(inss['code'] == 'INSS') & (inss['dep'] == pd.to_datetime(dt.date(dt.now())))]
inss = inss[['cif', 'code']]
inss.columns = ['cif', 'inss']
inss

            cif  inss
31597  00032138  INSS
31599  00012125  INSS
31600  00012615  INSS
31616  00043902  INSS
31629  00034563  INSS
...         ...   ...
32863  00024481  INSS
32868  00031848  INSS
32876  00023718  INSS
32883  00012016  INSS
32886  00012174  INSS

[201 rows x 2 columns]

In [8]:
lnr = rosters.copy()
lnr['dep'] = pd.to_datetime(lnr['dep'], format='%Y-%m-%d')
lnr['dep'] = lnr['dep'].dt.floor('D')
lnr = lnr[(lnr['code'] == 'LIC-SREM') & (lnr['dep'] == pd.to_datetime(dt.date(dt.now())))]
lnr = lnr[['cif', 'code']]
lnr.columns = ['cif', 'lnr']
lnr

            cif       lnr
31588  00022918  LIC-SREM
31606  00022434  LIC-SREM
31609  00002846  LIC-SREM
31622  00045800  LIC-SREM
31623  00045922  LIC-SREM
...         ...       ...
32856  00000041  LIC-SREM
32864  00024659  LIC-SREM
32870  00035130  LIC-SREM
32875  00023040  LIC-SREM
32884  00012097  LIC-SREM

[379 rows x 2 columns]

In [9]:
rosters = rosters[rosters['code'].isin(funcs.training_filter(training_code))]
rosters = rosters.sort_values(by=['cif','dep'])
rosters = rosters[['cif', 'code', 'fr', 'dep']]
rosters = rosters.drop_duplicates(subset = ['cif'], keep = 'last')
rosters

             cif   code   fr                  dep
19378   00000020  C-TEM  CGH  2020-11-04 11:30:00
139498  00000024  C-TEM  CGH  2021-01-22 11:30:00
25692   00000027  C-TEM  CGH  2020-11-05 11:30:00
93163   00000030  C-TEM  BSB  2020-02-13 11:30:00
139470  00000031  C-TEM  CGH  2021-01-22 11:30:00
...          ...    ...  ...                  ...
111567  00025075  C-TEM  CGH  2020-11-19 11:30:00
83200   00025080  C-TEM  CGH  2020-12-14 11:30:00
133202  00031762  C-TEM  BSB  2021-01-21 11:30:00
125876  00032148  C-TEM  CGH  2020-08-24 11:15:00
81711   00032164  C-TEM  FOR  2021-01-13 11:30:00

[317 rows x 4 columns]

In [10]:
# Dados de Checks
checks = pd.read_csv('data/checks/check_schedule.csv', sep=';', encoding='utf-8-sig')
checks.cif = checks.cif.astype(str).str.zfill(8)
checks = checks[checks['checkTypeCode'] == training_code]
checks = checks[['cif', 'checkTypeCode', 'expiryDt']]
checks

            cif checkTypeCode    expiryDt
96     00010655           TEM  2019-11-30
1032   00000455           TEM  2021-06-30
2988   00031916           TEM  2022-06-30
4055   00003158           TEM  2021-02-28
4057   00011457           TEM  2021-04-30
...         ...           ...         ...
54053  00044678           TEM  2022-09-30
54054  00044681           TEM  2022-09-30
54055  00044707           TEM  2022-09-30
54056  00044791           TEM  2022-09-30
54057  00044794           TEM  2022-09-30

[1723 rows x 3 columns]

In [11]:
# Merge dos dados
data_all = pd.merge(crew, checks[['cif', 'checkTypeCode', 'expiryDt']], on='cif', how='left')
data_all = data_all.merge(training, on='cif', how='left')
data_all = data_all.merge(rosters[['cif', 'code', 'dep']], on='cif', how='left')
data_all = data_all.merge(inss, on='cif', how='left')
data_all = data_all.merge(lnr, on='cif', how='left')
data_all

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,course_name,status,nota,data_conclusao,code,dep,inss,lnr
0,00000020,BORIO,CMT,IBX,CGH,TEM,2023-11-30,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2020-11-04 12:13:49,C-TEM,2020-11-04 11:30:00,NaN,NaN
1,00000021,GRABLER,CMT,IBX,GRU,TEM,2022-07-31,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2013-09-04 00:00:00,NaN,NaN,NaN,NaN
2,00000022,DANTAS,CMT,IBX,CGH,TEM,2022-05-31,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2019-05-07 00:00:00,NaN,NaN,NaN,NaN
3,00000024,BORBA,CMT,NaN,GRU,TEM,2021-01-28,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2017-09-01 00:00:00,C-TEM,2021-01-22 11:30:00,NaN,NaN
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,TEM,2021-04-30,CRM - TEM - Gerenciamento de Ameaças e Erros,Concluído,"0,00",2018-04-23 00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2031,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2033,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [12]:
# Formatação do dataFrame de Dados
validation = data_all.copy()

# Ajuste de data do vencimento
validation['expiryDt'] = pd.to_datetime(validation['expiryDt'], format='%Y-%m-%d')
validation['expiryDt'] = validation['expiryDt'].dt.floor('D')

validation['dep'] = validation['dep'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['dep'] = validation['dep'].dt.floor('D')

validation['data_conclusao'] = validation['data_conclusao'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['data_conclusao'] = pd.to_datetime(validation['data_conclusao'], format='%Y-%m-%d')
validation['data_conclusao'] = validation['data_conclusao'].dt.floor('D')

validation = validation[validation['expiryDt'] < (pd.to_datetime(dt.date(dt.now())) + pd.offsets.MonthBegin(0))]
validation['tempo_de_conclusao (dias)'] = pd.to_datetime(dt.date(dt.now())) - validation['data_conclusao']

validation['tempo_de_conclusao (dias)'] = validation['tempo_de_conclusao (dias)'].dt.days

validation = validation[validation['dep'] < (pd.to_datetime(dt.date(dt.now())))]
validation['atualizar'] = (validation['status'] == 'Concluído') & (validation['tempo_de_conclusao (dias)'] < 90)

validation

Empty DataFrame
Columns: [cif, guerra, funcao, cargo, base, checkTypeCode, expiryDt, course_name, status, nota, data_conclusao, code, dep, inss, lnr, tempo_de_conclusao (dias), atualizar]
Index: []

In [13]:
validation.to_csv(f'./data/output/CRM_{training_code}.csv', index=False, sep=';', encoding='utf-8-sig')