In [1]:
from gol_apis import RosterActivitiesService
from gol_apis import RosterTagService
from gol_apis import CheckScheduleService
from gol_apis import CrewMemberInfoService
import api_tools
from api_tools.setup import setup_crew_info_dataframe
from api_tools.setup import setup_checks_dataframe
from api_tools.setup import setup_tag_dataframe
from api_tools.setup import setup_activities_dataframe

from gol_logger import Logger
import pandas as pd
import multiprocessing as mp
import requests, time
from datetime import datetime as dt
from datetime import timedelta as td
from utils import funcs
from utils.progress import step
from utils.progress import BAR
from itertools import chain

from modules.generate_data import get_data_neolude
from modules.generate_data import get_rosters
from modules.generate_data import get_crew_info
from modules.generate_data import get_checks

import sys
from config.variables import user

In [2]:
training_code = 'XQ'

In [3]:
# Dados Crew Info
crew = pd.read_csv('data/crew/crew_info.csv', sep=';', encoding='utf-8-sig')
crew.cif = crew.cif.astype(int).astype(str).str.zfill(8)
crew = crew[crew['funcao'].isin(['CMT', 'COP'])]
crew = crew[['cif', 'guerra', 'funcao', 'cargo', 'base']]
crew

           cif           guerra funcao cargo base
0     00000020            BORIO    CMT   IBX  CGH
1     00000021          GRABLER    CMT   IBX  GRU
2     00000022           DANTAS    CMT   IBX  CGH
3     00000024            BORBA    CMT   NaN  GRU
4     00000026  FERNANDO FARIAS    CMT   IBX  CGH
...        ...              ...    ...   ...  ...
5481  99999913           PIAZZA    CMT    IB  GRU
5482  99999916    GALENO CABRAL    CMT    IB  GRU
5483  99999917           EDWARD    CMT    IB  GRU
5484  99999918          CESIDIO    CMT    IB  GRU
5485  99999919             ZAGO    CMT    IB  GRU

[2034 rows x 5 columns]

In [4]:
# Header para filtrar dados do Neolude
header_neolude = ['RegistrationNumber',
                  'UserName',
                  'BusinessUnitName',
                  'Post',
                  'CPF',
                  'Email',
                  'CourseUserStatus',
                  'GradeFormatted',
                  'LastAccessDate',
                  'CreatedDate',
                  'CompletionDate']

In [5]:
# Dados de Rosters
rosters = funcs.generate_data('data/rosters/')
rosters.cif = rosters.cif.astype(str).str.zfill(8)
rosters = rosters[rosters['code'].isin(funcs.training_filter(training_code))]
rosters = rosters.sort_values(by=['cif','dep'])
rosters = rosters[['cif', 'code', 'fr', 'dep']]
rosters = rosters.drop_duplicates(subset = ['cif'], keep = 'last')
rosters

importing: 2020-01...
importing: 2020-02...
importing: 2020-03...
importing: 2020-04...
importing: 2020-05...
importing: 2020-06...
importing: 2020-07...
importing: 2020-08...
importing: 2020-09...
importing: 2020-10...
importing: 2020-11...

             cif     code   fr                  dep
87467   00000019  XQ-ROTA  CGH  2020-01-12 13:20:00
46199   00000021  XQ-ROTA  GRU  2020-02-07 08:50:00
72214   00000022  XQ-ROTA  CGH  2020-01-10 13:05:00
91166   00000024  XQ-ROTA  GRU  2020-10-16 10:15:00
60772   00000026  XQ-ROTA  CGH  2020-10-11 10:15:00
...          ...      ...  ...                  ...
77447   00042057  XQ-ROTA  GRU  2020-03-11 13:25:00
75895   00042072  XQ-ROTA  GRU  2020-03-11 10:05:00
94862   00042088  XQ-ROTA  GRU  2020-02-13 15:25:00
120671  00045794  XQ-ROTA  CGH  2020-03-17 09:05:00
33160   00045826  XQ-ROTA  CGH  2020-03-05 15:40:00

[682 rows x 4 columns]

In [6]:
# Dados de Checks
checks = pd.read_csv('data/checks/check_schedule.csv', sep=';', encoding='utf-8-sig')
checks.cif = checks.cif.astype(str).str.zfill(8)
checks = checks[checks['checkTypeCode'] == training_code]
checks = checks[['cif', 'checkTypeCode', 'expiryDt']]
checks

            cif checkTypeCode    expiryDt
317    00000720            XQ  2021-01-31
2376   00011574            XQ  2020-12-29
3254   00010978            XQ  2021-01-31
3965   00023037            XQ  2021-09-30
3979   00022813            XQ  2021-09-30
...         ...           ...         ...
62208  00011841            XQ  2021-03-30
62209  00012080            XQ  2021-04-30
62210  00012197            XQ  2021-10-31
64445  00040998            XQ  2021-10-31
64446  00001464            XQ  2021-09-30

[3874 rows x 3 columns]

In [7]:
# Merge dos dados
resultado = pd.merge(crew, checks[['cif', 'checkTypeCode', 'expiryDt']], on='cif', how='left')
resultado = resultado.merge(rosters[['cif', 'code', 'dep']], on='cif', how='left')
resultado

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,code,dep
0,00000020,BORIO,CMT,IBX,CGH,XQ,2021-03-30,NaN,NaN
1,00000021,GRABLER,CMT,IBX,GRU,XQ,2021-02-28,XQ-ROTA,2020-02-07 08:50:00
2,00000022,DANTAS,CMT,IBX,CGH,XQ,2021-01-31,XQ-ROTA,2020-01-10 13:05:00
3,00000024,BORBA,CMT,NaN,GRU,XQ,2021-10-31,XQ-ROTA,2020-10-16 10:15:00
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,XQ,2021-10-31,XQ-ROTA,2020-10-11 10:15:00
...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,NaN,NaN,NaN
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,NaN,NaN,NaN
2031,99999917,EDWARD,CMT,IB,GRU,NaN,NaN,NaN,NaN
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,NaN,NaN,NaN
2033,99999919,ZAGO,CMT,IB,GRU,NaN,NaN,NaN,NaN

In [8]:
# FormataÃ§Ã£o do dataFrame de Dados
validation = resultado.copy()
validation['dep'] = validation['dep'].fillna(pd.to_datetime(dt(2035,12,31)))
validation['expiryDt'] = validation['expiryDt'].fillna(pd.to_datetime(dt(2035,12,31)))

validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['expiryDt'] = pd.to_datetime(validation['expiryDt'], format='%Y-%m-%d')

validation['dep'] = pd.to_datetime(validation['dep'], format='%Y-%m-%d')
validation['dep'] = validation['dep'].dt.floor('D')

validation['new_vencimento'] = (pd.to_datetime(validation['dep']) + pd.offsets.MonthEnd(0)) + pd.offsets.MonthEnd(12)
validation['new_vencimento'] = validation['new_vencimento'].dt.floor('D')

validation

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,code,dep,new_vencimento
0,00000020,BORIO,CMT,IBX,CGH,XQ,2021-03-30,NaN,2035-12-31,2036-12-31
1,00000021,GRABLER,CMT,IBX,GRU,XQ,2021-02-28,XQ-ROTA,2020-02-07,2021-02-28
2,00000022,DANTAS,CMT,IBX,CGH,XQ,2021-01-31,XQ-ROTA,2020-01-10,2021-01-31
3,00000024,BORBA,CMT,NaN,GRU,XQ,2021-10-31,XQ-ROTA,2020-10-16,2021-10-31
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,XQ,2021-10-31,XQ-ROTA,2020-10-11,2021-10-31
...,...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31
2031,99999917,EDWARD,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31
2033,99999919,ZAGO,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31

In [9]:
# Tripulantes com vencimentos nos proximos dois meses, com treinamentos plotados em escala e 
# que jÃ¡ concluiram o curso
atualizar = validation.copy()
atualizar['validation'] = ((validation['dep'] < pd.to_datetime(dt.date(dt.now()))) & 
                          (validation['expiryDt'] < validation['new_vencimento']))             
atualizar

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,code,dep,new_vencimento,validation
0,00000020,BORIO,CMT,IBX,CGH,XQ,2021-03-30,NaN,2035-12-31,2036-12-31,False
1,00000021,GRABLER,CMT,IBX,GRU,XQ,2021-02-28,XQ-ROTA,2020-02-07,2021-02-28,False
2,00000022,DANTAS,CMT,IBX,CGH,XQ,2021-01-31,XQ-ROTA,2020-01-10,2021-01-31,False
3,00000024,BORBA,CMT,NaN,GRU,XQ,2021-10-31,XQ-ROTA,2020-10-16,2021-10-31,False
4,00000026,FERNANDO FARIAS,CMT,IBX,CGH,XQ,2021-10-31,XQ-ROTA,2020-10-11,2021-10-31,False
...,...,...,...,...,...,...,...,...,...,...,...
2029,99999913,PIAZZA,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31,False
2030,99999916,GALENO CABRAL,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31,False
2031,99999917,EDWARD,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31,False
2032,99999918,CESIDIO,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31,False
2033,99999919,ZAGO,CMT,IB,GRU,NaN,2035-12-31,NaN,2035-12-31,2036-12-31,False

In [10]:
atualizar = atualizar[atualizar['validation']]
atualizar

,cif,guerra,funcao,cargo,base,checkTypeCode,expiryDt,code,dep,new_vencimento,validation
20,00000083,MARCO,CMT,IBX,CGH,XQ,2021-02-28,XQ-ROTA,2020-11-17,2021-11-30,True
36,00000347,GALLINA,CMT,IRX,GRU,XQ,2021-02-28,XQ-ROTA,2020-10-01,2021-10-31,True
37,00000348,CAIO SERGIO,CMT,IBX,GRU,XQ,2021-01-31,XQ-ROTA,2020-11-02,2021-11-30,True
47,00000416,GABRIEL PESSOA,CMT,IR,GRU,XQ,2020-09-28,XQ-ROTA,2020-11-17,2021-11-30,True
58,00000465,STROPPA,CMT,IRX,CGH,XQ,2020-12-29,XQ-ROTA,2020-09-09,2021-09-30,True
74,00000632,ANDRE LUIZ,CMT,IBX,GRU,XQ,2020-11-28,XQ-ROTA,2020-11-16,2021-11-30,True
85,00000644,TITO,CMT,IRX,BSB,XQ,2021-08-31,XQ-ROTA,2020-10-05,2021-10-31,True
101,00000843,BUSI,CMT,IRX,GIG,XQ,2021-02-28,XQ-ROTA,2020-10-27,2021-10-31,True
139,00001181,PEINADO,CMT,IRX,CGH,XQ,2021-09-30,XQ-ROTA,2020-10-16,2021-10-31,True
162,00001621,SIDNEY JR,CMT,IR,CGH,XQ,2021-01-28,XQ-ROTA,2020-08-24,2021-08-31,True
428,00003781,SADI,CMT,IR,GRU,XQ,2020-11-28,XQ-ROTA,2020-11-17,2021-11-30,True
433,00003923,VIEIRA SANTOS,CMT,NaN,GRU,XQ,2020-11-28,XQ-ROTA,2020-11-16,2021-11-30,True
537,00005406,REINALDO CAPECCE,CMT,NaN,CGH,XQ,2020-11-28,XQ-ROTA,2020-11-17,2021-11-30,True
784,00009163,NERCY ROBERTO,CMT,NaN,POA,XQ,2020-11-28,XQ-ROTA,2020-11-16,2021-11-30,True
831,00010595,GLAUCIO,CMT,IR,SDU,XQ,2021-01-28,XQ-ROTA,2020-11-17,2021-11-30,True
904,00011551,RAFAEL QUENTAL,CMT,NaN,GRU,XQ,2020-12-29,XQ-ROTA,2020-11-17,2021-11-30,True
1410,00031906,JOCA,CMT,NaN,GRU,XQ,2020-11-28,XQ-ROTA,2020-11-16,2021-11-30,True

In [11]:
atualizar.to_csv(f'./data/output/{training_code}_atualizar.csv', index=False, sep=';', encoding='utf-8-sig')